<%= render 'shared/error_messages', :object => foobar.object %>
<div class="field">
  <%= foobar.label :name %><br />
  <%= foobar.text_field :name %>
</div>
<div class="field">
  <%= foobar.label :email %><br />
  <%= foobar.text_field :email %>
</div>
<div class="field">
  <%= foobar.label :password %><br />
  <%= foobar.password_field :password %>
</div>
<div class="field">
  <%= foobar.label :password_confirmation, "Confirmation" %><br />
  <%= foobar.password_field :password_confirmation %>
</div>